<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 对日志进行格式化。 -->
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <root>
        <level value="WARN" />
        <appender-ref ref="stdout" />
    </root>

    <logger name="com.hellozjf.test.roboticrover" level="INFO" />
</configuration>